#box {
    display: grid;
    grid-template-columns: 2fr 1fr
}

#footer-two {
    grid-column: 1 / 3;
}
#footer-one {
    grid-column: 1 / 3;
}

@media (max-width: 650px) {
    #box {
        grid-template-columns: 1fr;
    }
    #side-authors {
        grid-row: 8/9;
    }
    #footer-two {
        grid-column: 1 / 2;
    }
    #footer-one {
        grid-column: 1 / 2;
}
}