#djBox {
    display: grid;
    height: 600px;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.light {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    /* background-color: white; */
}

#buttonBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}