@font-face {
    font-family: roboto;
    src: url(Roboto/Roboto-Regular.ttf);
}

div {
    font-family: roboto;
}

#body {
    background-color: lightgray;
    max-width: ;
}

.menu {
    margin: 20px;
    font-family: roboto;
    color: rgb(54, 54, 54)
}

#navbar {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    font-family: roboto;
    height: 50px;
    border-radius: 25px;
    padding: 20px;
    height: 40px;
}

#menupic {
    border-radius: 75%;
}

#mypic {
    border-radius: 5%;
}